@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F3F3F3;
    font-family: "Roboto" sans-serif;
}
.topo {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 1px 10px ;
    position: fixed;
    top: 0px;
    
    
    
}
.topo :first-child {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}
.topo :last-child {
    font-size: 42px;
    margin-right: 22px;
    
}

.conteudo {
    margin-top: 80px;
    padding-bottom: 80px;
    padding-top: 10px; 
}



.mensagensNormais {
    width: 100%;
    min-height: 40px;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
    
    
}

.mensagensReservadas {
    width: 100%;
    min-height: 40px;
    background-color: #FFDEDE;
    border-radius: 2px;
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
    
}
.mensagensStatus {
    width: 100%;
    min-height: 40px;
    background-color: #DCDCDC;
    border-radius: 2px;
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
}
.time {
    color: #AAAAAA;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 70px;
}



.base {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 1px 10px;
    position: fixed;
    bottom: 0px;

    

}
.base :first-child {
    margin-left: 22px;
    width: 245px;
    height: 30px;
    font-style: italic;
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
}

.base :last-child{
    font-size: 26px;
    margin-right: 22px;
    cursor: pointer;
}

.telaDeEntrada {
    width: 100%;
    height: 973px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    position: absolute;
}
.telaDeEntrada :first-child {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}
.telaDeEntrada :nth-child(2) {
    width: 262px;
    height: 54px;
    margin-top: 92px;
}
.telaDeEntrada :last-child {
    width: 110px;
    height: 45px;
    margin-top: 15px;
    border-radius: 10px;
}
.displaynone {
    display: none;
}





